@import "../../components/common/mixins.scss";
.main {}

.loading-div {
    background: url('loading_bg.jpg') center bottom no-repeat;
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
}

.topBox {
    height: 55%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    .picBox {
        display: block;
        margin: 0 auto;
        padding-top: pxToRem(30);
        width: pxToRem(120);
        img {
            // border: 1px solid #ccc;
            width: 100%;
        }
    }
    .input-box {
        width: 80%;
        margin: 0 auto;
        color: #555;
        position: relative;
        .user-in {
            position: absolute;
            top: 0;
            left: 10%;
            width: 80%;
            // background: #ffe
            input {
                background: transparent;
                border: none;
                width: 100%;
                height: pxToRem(40);
                font-size: pxToRem(16);
                line-height: pxToRem(40);
                text-indent: pxToRem(16);
                letter-spacing: pxToRem(30);
                // color: rgba(0, 0, 0, 0.0)
            }
        }
        .captcha {
            width: 80%;
            margin: pxToRem(10) auto;
            height: pxToRem(40);
            line-height: pxToRem(40);
            background: url("input01.png") center center no-repeat;
            background-size: 100%;
            // display: flex;
            // flex-wrap: nowrap;
            span {
                display: inline-block;
                // justify-content: center;
                // align-items: center;
                // flex: 1;
                // width: 15%;
                margin-right: pxToRem(5);
                text-align: center;
                font-size: pxToRem(16);
            }
        }
        .input-info {
            margin: 0 auto pxToRem(10);
            font-size: pxToRem(15);
        }
        .inputBtn {
            height: pxToRem(50);
            line-height: pxToRem(50);
            font-size: pxToRem(16);
            background: url('btn01.png') center center no-repeat;
            background-size: 100% 100%;
            color: #BB0104;
        }
    }
}

// 底部说明
.bottomBox {
    position: absolute;
    bottom: pxToRem(20);
    // margin-top: pxToRem(40);
    z-index: 1;
    width: 100%;
    font-size: pxToRem(14);
    color: #555;
    .info {
        font-size: pxToRem(14);
        margin-bottom: pxToRem(10);
    }
}

.copyright {
    font-size: pxToRem(12);
}

.qrcode {
    margin: 0 auto;
    width: pxToRem(110);
    max-width: pxToRem(110);
    overflow: hidden;
    padding: 5px;
    // background: #fff;
    img {
        width: 100%;
        border: 0;
    }
}

.qrcode-info {
    margin-top: pxToRem(5);
    margin-bottom: pxToRem(10);
}

.main-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    color: #555;
    h2 {
        font-weight: normal
    }
    .main-content {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 30px 20px;
        font-size: 16px;
        text-align: center;
        background: #ffd52e;
    }
    .main-footer {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 10px;
        text-align: center;
        background: #fff;
    }
    .btn {
        font-size: pxToRem(16);
        padding: pxToRem(2) pxToRem(30);
        background: #D4172B;
        color: #fff;
    }
    .main-close {
        height: pxToRem(100);
        text-align: center;
        // background: url("close.png") center bottom no-repeat;
        // background-size: auto;
        img {
            display: inline-block;
            width: pxToRem(36);
        }
    }
}

.ui-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.bind-address,
.bind-phone {
    display: block;
}

.inputBox {
    width: 100%;
    min-height: pxToRem(40);
    line-height: pxToRem(40);
    margin-top: pxToRem(10);
    border-bottom: 1px solid #000;
    position: relative;
    .icon {
        width: pxToRem(18);
        height: pxToRem(18);
        display: inline-block;
        margin-top: pxToRem(10);
        margin-right: pxToRem(5);
    }
    img {
        width: 100%;
    }
    input {
        margin-top: pxToRem(12);
        line-height: pxToRem(20);
        width: 80%;
        border: none;
        background: transparent;
        // color: rgba(255, 255, 255, 0.4);
    }
}

input::-webkit-input-placeholder {
    /* WebKit browsers*/
    color: #fff;
    font-size: pxToRem(13);
}

.input-code {
    input {
        width: 50%;
    }
    .getcode {
        background: rgba(118, 114, 114, 0.4);
        padding: 2px 5px;
        font-size: pxToRem(12);
        border-radius: 6px;
        height: pxToRem(25);
        line-height: pxToRem(25);
        min-width: pxToRem(55);
    }
}

// fix 
.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

// fix iphone4 
@media (max-width: 320px) {
    .qrcode-info {
        margin-bottom: pxToRem(11);
    }
    .topBox>.input-box>.inputBtn {
        height: pxToRem(45);
        line-height: pxToRem(45);
        font-size: pxToRem(14);
    }
    .topBox>.picBox {
        padding-top: pxToRem(15);
    }
    .bottomBox {
        margin-top: pxToRem(30);
    }
}