<!--
@require "ticket-details.js"
-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>卡片兑换</title>
    <link rel="import" href="../tpl/header/header.html?__inline">
</head>

<body>
<div id="app" v-cloak class="ticket-public redpacketResult" :style="{ height: screenH + 'px' }">
    <div class="ticket-header">
        <img src="iqiyi-quan.jpg" class="quan" alt="">
        <p class="ticket-name">爱奇艺5元通用券</p>
        <p class="">券码（长按以下数字复制）</p>
        <p class="code">2158795451144</p>
    </div>
    <div class="ticket-explain"></div>
</div>
</body>

</html>